*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.story{
    width: 600px;
    padding: 10px;
    background-color: antiquewhite;
}
.heading{
    text-align: center;
}
.intro-content{
    text-align: justify;
}
.chap-list{
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 6px 0;
}
.chap-list-item a {
    text-decoration: none;
}

#chap-content_1,
#chap-content_2,
#chap-content_3,
#chap-content_4{
    text-align: justify;
    margin-top: 10px;
    padding-top: 10px;
}
.text-center {
    text-align: center;
    font-weight: 600;
}

.border-top{
    border-top: 1px solid #ccc;
}
