*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(213, 178, 247);
}
.wrapper{
    min-width: 800px;
    background-color: rgb(224, 238, 250);
    padding: 4px;
}
.add-item{
    min-height: 30px;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 16px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-5{
    margin-right: 5px;
}
.add-item .item-name,
.add-item .item-price{
    width: 250px;
    padding: 6px 4px;
    border: 1px solid #eff1f4;
    border-radius: 2px;
}
.add-item .add-new-item{
    padding: 6px 20px;
    border: none;
    background-color: #0d6efd;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}
.add-item .edit-item{
    padding: 6px 20px;
    border: none;
    background-color: #0d6efd;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}
.searching-item-by-name{
    width: 100%;
}
.searching-item-by-name .searching-input input{
    width: 100%;
    padding: 6px 4px;
    border-radius: 2px;
    border: 1px solid #eff1f4;
}
.searching-item-by-name .searching-heading{
    text-align: center;
    color: #888684;
    margin-bottom: 4px;
}
.searching-item-by-name .searching-table{
    width: 100%;
}
.searching-table .table-title{
    width: 100%;
    background-color: #54aeeb;
    display: flex;
}
.searching-table .table-title span{
    width: calc(100% / 4);
    text-align: center;
    padding: 5px;
    border: 1px solid #333;
}
.display-item-list{
    width: 100%;
    list-style: none;
}
.display-item-list li{
    display: flex;
}
.display-item-list li span{
    width: calc(100% / 4);
    border: 1px solid #333;
    padding: 8px 10px;
}
.display-item-list li span button{
    width: 40px;
    height: 24px;
    padding: 2px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.edit-btn{
    background-color: #0dcaf0;
}
.delete-btn{
    background-color: #dc3545;
    color: #fff;
}

.display-none{
    display: none;
}