*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-image: url(../assets/images/wp5077198.webp);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    min-height: 100vh;
  }
  
.sidenav {
    height: 100vh;
    width: 280px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 20px;
    display: none;
    padding-left: 0;
}
  
  .sidenav li a{
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    margin-left: 10px;
  }

  .sidenav li:hover {
    color: #d0cccc;
    background-color: #6c757d;
  }
span i{
    color: beige;
}

span i:nth-child(2){
    display: none;
}

.text{
    font-size: 50px;
    color: #fff;
}


.user-avatar i,
.log-out i{
  font-size: 30px;
}

.user-avatar{
  background-color: #333;
  height: 60px;
  width: 60px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 8px;
}

.log-out{
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-out-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-info{
  display: flex;
  position: relative;
}

.name-admin{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-right: 6px;
  color: #fff;
}


.options{
  padding-left: 0;
  list-style: none;
  position: absolute;
  top: 75px;
  right: -2px;
  width: 200px;
  background: #f0f2f5;
  display: none;
}
.info{
  font-size: 20px;
  color: #2a2828;
  padding: 10px;
  cursor: pointer;
}

.options a i{
  font-size: 22px;
  color: #a25656;

}

.options a{
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #a25656;
  padding: 10px;
}

.info:hover, .log-out-btn:hover {
  background-color: #494848;
  color: #fff;
}

.log-out-icon{
  color: #fff;
}

.log-out-icon i {
  cursor: pointer;
}

.log-out-icon i:nth-child(2){
  display: none;
}